<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">


        <activity
            android:name=".AddModuleTeacherCheckboxActivity"
            android:exported="true"
            android:label="@string/add_module_title"
            android:parentActivityName=".AddModuleTeacherActivity"
            android:theme="@style/AppTheme.ActionPar" />


        <activity
            android:name=".AddModuleTeacherActivity"
            android:exported="true"
            android:label="@string/add_module_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.ActionPar" />

        <activity
            android:name=".AddModuleActivity"
            android:exported="true"
            android:label="@string/add_module_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.ActionPar" />
        <activity
            android:name=".WeekViewActivity"
            android:exported="false" />
        <activity
            android:name=".AddSemesterActivity"
            android:exported="true"
            android:label="@string/add_new_semester"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.ActionPar" />
        <activity
            android:name=".AddClassesActivity"
            android:exported="true"
            android:label="@string/add_classes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.ActionPar" />
        <activity
            android:name=".AddCourseworkActivity"
            android:exported="true"
            android:label="@string/add_coursework"
            android:theme="@style/AppTheme.ActionPar" />
        <activity
            android:name=".EditModuleTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".EditModuleActivity"
            android:exported="false" />
        <activity
            android:name=".EditSemesterActivity"
            android:exported="false" />
        <activity
            android:name=".EditClassesActivity"
            android:exported="false" />
        <activity
            android:name=".EditCourseworkActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>